.resumen-compra {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 15rem;
}

.row {
  display: flex;
  justify-content: space-between;
}

.producto-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.producto-imagen img {
  width: 100px;
  height: auto;
}

.producto-info {
  margin-left: 10px;
}

.producto-titulo h4 {
  margin: 0;
}

.producto-precio {
  display: flex;
  align-items: center;
}

.total-compra {
  text-align: center;
}

.btn-compra {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.carrito-vacio {
  text-align: center;
  margin-top: 20px;
}

.carrito-vacio button {
  margin-top: 10px;
}