.cart-icon {
  color: white;
  margin-right: 10px;
}

.cart-widget{
  margin-right: 30px;
  
}

.cart-widget__count {
  display: flex;
  align-items: center}


  .cart-widget__count .badge-black {
    background-color: #01f603;
    margin-left: 5px;
    border-radius: 70%;
    color: #000;
    font-weight: 700;
    min-width: 24px;
    padding: 4px;
    text-align: center;
  }