.nav__container {
  background-color: #0e0f0f !important;
}

.form__container {
  margin-left: 150px;
}

.logo__container {
  margin-left: 20px;
  margin-right: 50px;
}

.hamburguer-button {
  margin-left: 30px;
  padding: 15px;
}

.sidebar__container {
  background-color: #181a1b !important;
  border-top: 0 !important;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 15%;
  height: 100vh;
  background-color: black;
  padding-top: 2rem;
  position: fixed;
  left: 0;
  z-index: 9999;

  &.active {
    transform: translateX(0);
  }

  @media (max-width: 768px) {
    width: 100%;
  }

  &__list {
    list-style: none;
    margin-left: 20px;
    padding: 0;

    li {
      margin-bottom: 1rem;

      a {
        text-decoration: none;
        color: green;

        &:hover {
          color: white;
        }
      }

      &:hover {
        color: white;
      }
    }
  }

  overflow-y: auto;
  padding-top: 2rem;

  &__text {
    color: white;
    margin-left: 10px;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
}

