.cart-modal .modal-content {
  background-color: #232525;
}

.cart-modal .modal-content p {
 color: #40a640;
}

.cart-modal h4 {
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
