body {
  margin: 0;
  padding: 0;
}

.auth-container {
  width: 100%;
  height: 100vh;
  background-image: url("https://img.freepik.com/foto-gratis/imagen-primer-plano-programador-trabajando-su-escritorio-oficina_1098-18707.jpg?w=1380&t=st=1688664700~exp=1688665300~hmac=32b8bc8ecbf74086b117482c08fe0ff8de3901f576e922eed796e4ec9059556e");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth-modal {
  background-color: white;
  padding: 20px;
  width: 500px;
  border-radius: 15px;
}

.inicio_container {
  margin-bottom: 13px;

  .boton {
    margin-right: 13px;
  }
}



.google-btn {
  background-color: #DB4437;
  color: white;
  border-color: #DB4437;
}

.google-btn:hover {
  background-color: #C53929;
  border-color: #C53929;
}